{% extends "base.html" %}
{% block title %}از خودمونی{% endblock %}
{% block content %}
<div class="auth-wrap">
  <div class="auth-card">
    <div class="auth-logo">پ</div>
    <h1> پس برگشتی </h1>
    <p class="muted"> اگه میخوای برو بچ ببینی بیا تو .</p>
    <form method="post">
      {% csrf_token %}
      <label>اسمت چی چیه  </label>
      <input name="username" required autofocus>
      <label>اون اطلاعات بالا رده نیاز به کلمه عبور داره </label>
      <input name="password" type="password" required>
      <button class="btn primary full">بیا تو</button>
    </form>
    <p class="switch"> بیا اسمتو بگو اضافت کنم  <a href="{% url 'register' %}">جدیدی؟ بیا پیش خودم  </a></p>
  </div>
</div>
{% endblock %}
